extends layout

block head 
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  div(class="container")
    nav
    p(class="title") My배민
    div(class="banner")
      img(class="banner-img" src='/images/banner.png')
    div(class="loginContainer" id="login")
      a(href="/login")
        img(class="image-user" src='/images/user.png')
        p(class="text-md") 로그인해주세요
      p(class="arrow-right") &gt
    div(class="menuContainer")
      div(class="menu")
        img(class="image-menu" src='/images/point.png')
        | 포인트
      div(class="menu")
        img(class="image-menu" src='/images/coupon.png')
        | 쿠폰함
      div(class="menu")
        img(class="image-menu" src='/images/present.png')
        | 선물함
      div(class="menu")
        img(class="image-menu" src='/images/cart.png')
        | 찜
      div(class="menu")
        img(class="image-menu" src='/images/order.png')
        | 주문내역
      div(class="menu")
        img(class="image-menu" src='/images/review.png')
        | 리뷰관리
    div(class="campContainer")
      div
        img(class="image-root" src='/images/root.png')
        | 일회용품 덜 쓰기, 함께해요!
      p(class="arrow-right") &gt
    div(class="menuContainer2")
      div 
        span 배민페이 등록 NEW
        img(class="image-new" src="/images/new.png")
        p 베민페이로 결제하면 최대 5.5% 배민포인트가 적립됩니다!
      p(class="arrow-right") &gt
    div(class="menuContainer2")
      div
        sapn 가족계정 관리
        img(class="image-new" src="/images/new.png")
        p 결제수단을 공유해 우리 가족의 끼니를 챙겨주세요
      p(class="arrow-right") &gt
    div(class="menuContainer2")
      div
        p 공지사항
      p(class="arrow-right") &gt
    div(class="menuContainer2")
      div
        p 배민커넥트 지원
      p(class="arrow-right") &gt