extends layout

block head
  link(rel='stylesheet', href='/stylesheets/login.css')

block content
  img(class="cancel" src="/images/cancel.png", alt="닫기")
  section(style={"height": "100%"})
    section(class="flex-column p-2")
      div(class="p-2")
        div(class="input-wrapper")
          input(class="text-lg" placeholder="아이디 또는 이메일" type="text")
        span(class="text-error") 올바른 아이디 또는 이메일을 입력해주세요.
      div(class="p-2")
        div(class="input-wrapper")
          input(class="text-lg" placeholder="비밀번호" type="password")
        span(class="text-error") 올바른 비밀번호를 입력해주세요.
      div(class="p-2")
        button(class="p-2 btn-100 login text-lg") 로그인
      div(class="p-2 flex-center")
        span(class="text-sub") 아이디 찾기 | 비밀번호 찾기
  
  footer(class="flex-column p-2")
    div(class="px-2 py-1")
      button(class="flex-center p-1 social-login btn-100")
        img(src="/images/facebook.png")
        span 페이스북으로 로그인
    div(class="px-2 py-1")
      button(class="flex-center p-1 social-login btn-100")
        img(src="/images/naver.png")
        span 네이버로 로그인
    div(class="px-2 py-1")
      button(class="flex-center p-1 social-login btn-100")
        img(src="/images/apple.png")
        span Apple로 로그인
    span(class="px-2 py-1 flex-center text-md")
      p() 혹시, 배달의민족이 처음이신가요? 
        a(class='text-sub' id='signup' href='/terms') 회원가입

  script(src="/javascripts/login.js") 