.flex {
  display: flex;
}
  
.flex-align-middle {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-left {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-empty-space{
  border-top: 0.5rem solid #f6f6f6;
  border-bottom: 0.5rem solid #f6f6f6;

}

.border-bt {
  border-bottom: 00.5px solid #e9e9e9;
}

.text-sm {
  font-size: 0.5rem;
}

.text-md {
  font-size: 0.75rem;
}

.text-lg {
  font-size: 1rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-error {
  color: red;
  font-size: 0.75rem;
  text-align: end;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-1-bt {
  padding: 0 0 0.5rem 0;
}

.my-1 {
  margin: 0.5rem 0;
}

.text-sub {
  color: #909090
}

.text-camp {
  color: #41960e
}

.btn-100 {
  width: 100%;
}

.input-wrapper {
  border-bottom: 1px solid #909090;
  margin: 0.25rem 0;
  padding: 0.25rem 0;
}

.cancel {
  height: 1rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  cursor: pointer;
}