.login {
  background-color: #28c1bc;
  color: white;
  border: none;
  border-radius: 0.25rem;
}

button > img {
  height: 1rem;
  margin: 0 0.5rem;
}

.social-login {
  background-color: inherit;
  border: 0.5px solid black;
  border-radius: 0.25rem;
}

.test {
  height: 100%;
}